<div align="center">
    <div class="col-md-6 col-md-offset-3">
        <h2>Reset Password</h2>
        <div *ngIf="isError && !model.isSuccess">
            <br />
            <h4>Token is invalid or link may have been expired. </h4>
            <h4>Please  <a class="" [routerLink]="['/login']">click here</a> to login </h4>
        </div>
        <div *ngIf="!isError && !model.isSuccess">

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)" fxFlex fxLayout="row" fxLayout.xs="column">
                <div class="form-content">
                    <div formGroupName="passwords" class="form-content">
                        <div style="width:400px !important">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Password" formControlName="newPassword">
                                <mat-error>{{resetPasswordForm.get('passwords').controls['newPassword'].errors | resetpassworderrtranslate}}</mat-error>
                                <mat-hint>Password must contains minimum 8 characters and atleast 1 digit</mat-hint>
                            </mat-form-field>
                        </div>
                        <br />
                        <div style="width:400px">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                                <mat-error>{{resetPasswordForm.get('passwords').controls['confirmPassword'].errors | resetpassworderrtranslate}}</mat-error>
                                <mat-hint>password must contains minimum 8 characters and atleast 1 digit</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <br /><br />
                    <div>
                        <button type="submit" mat-raised-button [disabled]="!resetPasswordForm.valid">Submit</button>
                        <button type="button" mat-raised-button (click)="resetPasswordForm.reset()">Reset</button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="model.isSuccess">
            <br />
            <h4>Cheers, your password has been changed successfully..!! </h4>
            <h4>Please  <a class="" [routerLink]="['/login']">click here</a> to login </h4>
        </div>
    </div>
</div>

<div>

</div>

