

    <form class="form1">



        <a id="createNew" class="btn btn-lg btn-success" [routerLink]="['/invoice/new']">
            Create New Invoice
        </a>


        <div class="row">
            <div class="col-md-6">
                <input type="text"
                       class="form-control"
                       name="searchString"
                       placeholder="Search..."
                       [(ngModel)]="searchString" />
            </div>
            <div class="col-md-6">
                <app-pagination class="pull-right" [offset]="offset" [limit]="limit" [size]="(sortedData | invoiceFilter : searchString).length" (pageChange)="onPageChange($event)"></app-pagination>
            </div>
        </div>


        <table class="table table-bordered table-striped table-hover table-light"
               matSort (matSortChange)="sortData($event)" matSortActive="dateCreated" matSortDirection="desc" matSortStart="desc" matSortDisableClear>
            <thead class="thead-dark">
                <tr>
                    <th mat-sort-header="invoiceNumber" style="width:10%">Invoice Number</th>
                    <th mat-sort-header="dateCreated" style="width: 10%">Date Created</th>
                    <th mat-sort-header="clientName" style="width: 10%">Client Name</th>
                    <th mat-sort-header="grandTotal" style="width: 10%">Amount</th>
                    <th mat-sort-header="dateDue" style="width: 10%">Due Date</th>
                    <th mat-sort-header="status" style="width: 10%">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let inv of sortedData | invoiceFilter : searchString; index as i ">
                    <ng-container *ngIf="i>=offset && i< offset +limit">
                        <td *ngIf="inv.status==='Issued'||inv.status==='Paid'">
                            <a [routerLink]="['/invoices', inv.invoiceNumber]">{{inv.invoiceNumber}}</a>
                            <button class="btn btn-sm"
                                    id="pdf_ico"
                                    (click)="getPdfInvoice(inv.invoiceNumber)">
                                <i class="fa fa-file-pdf-o"></i>
                            </button>
                        </td>

                        <td *ngIf="inv.status==='New'||inv.status==='Draft'">
                            <a [routerLink]="['/invoices/edit/',inv.invoiceNumber]">{{inv.invoiceNumber}} </a>
                            <button class="btn btn-sm" id="delete_key" (click)="onShowDelete(deleteTemplate, inv.invoiceNumber)"> <span class="oi oi-trash"></span></button>
                        </td>

                        <td style="width: 10%">{{inv.dateCreated | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 10%">{{inv.clientName}} </td>
                        <td style="width: 10%">${{inv.grandTotal|number:'.2-2'}}</td>
                        <td style="width: 10%">{{inv.dateDue | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 10%">{{inv.status}}</td>

                    </ng-container>

                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <app-pagination class="pull-right" [offset]="offset" [limit]="limit" [size]="(sortedData | invoiceFilter : searchString).length" (pageChange)="onPageChange($event)"></app-pagination>
            </div>
        </div>


        <ng-template #deleteTemplate>
            <!-- Utilise a click method to close the modal to solve the problem that the pop up modal dialog is gray and not clickable. -->
            <!-- This is the orignial code to define the modal -->
            <div id="deleteModal">
                <div class="modal-dialog" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header   bg-warning">
                            <h4 class="modal-title" id="deleteModalLabel">Delete Invoice Draft?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancelDelete()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete draft invoice: {{currentInvoiceNumber}}?
                                <br /><br />
                                <b>When you delete a draft invoice, it cannot be undone!</b>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelDelete()">No</button>
                            <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>


        <a id="createNew" class="btn btn-lg btn-success" [routerLink]="['/invoice/new']">
            Create New Invoice
        </a>


    </form>






