<!--<ng-template #template>-->
<div class="modal-header">
    <h4 class="col-12 modal-title text-center">Reset Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(successTemplate)" #f="ngForm" novalidate>

        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center" style="background-color: #007bff; color:white">
                <div class="" style="position: relative;">

                    <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>

                </div>

            </div>

            <div class="col-md-8">
                <!--<h2>Reset Password</h2>-->
                <p>
                    Enter your email address and we will send you an email with instruction to reset your password.
                </p>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                    <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                </div>
                <div class="form-group">
                    <div>
                        <button [disabled]="loading" class="form-control btn" style="background-color:red">Reset</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="form-control" (click)="bsModalRef.hide()">Cancel</button>
                </div>
                <div *ngIf="f.submitted && emailSent" class="text-info">Didn't receive an email? Click "Reset" to resend.</div>
            </div>

        </div>
    </form>
</div>
<!--</ng-template>-->
<ng-template #successTemplate>
    <div class="modal-header" style="background-color:red">
        <h4 class="col-12 modal-title text-center">{{model.title}}<!--Password Reset Email Sent--></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="col">
            <p> {{model.message}}<!--An email has been sent with instruction to reset your password--> </p>

            <div class="text-center">
                <button class="btn btn-info col-md-6" (click)="modalRef.hide()">close</button>
            </div>
        </div>
    </div>

</ng-template>

