<div class="container my-lg-5">
    <div class="row justify-content-center my-4">
        <div class="col-md-4 text-center">
            <img src="../../assets/images/CBA-Logoupdated-01-1.jpeg" class="img-fluid"
                 style="width:60%;"/>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto">
            <div class="card-body p-0" style="width:500px;">
                <div class="row p-0 m-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center text-center" style="background-color: #007bff; color:white">
                        <div class="" style="position: relative;">

                            <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
                            <div>Login</div>
                        </div>

                    </div>
                    <div class="col-md-8 text-center" style="">

                        <label class="my-4">Login</label>
                        <form [formGroup]="userLogin" (ngSubmit)="login()" novalidate>

                            <div class="form-group">
                                <label>Primary Email:</label>
                                <input [class.is-invalid]="userLogin.get('username').invalid && userLogin.get('username').touched"
                                       placeholder="Email"
                                       type="email"
                                       class="form-control"
                                       formControlName="username" />
                            </div>

                            <div class="form-group">
                                <label>Secondary Email:</label>
                                <input [class.is-invalid]="userLogin.get('password').invalid && userLogin.get('password').touched"
                                       placeholder="Password"
                                       type="password"
                                       class="form-control"
                                       formControlName="password" />
                            </div>

                            <div class="form-group my-3">
                                <button class="btn btn-primary"
                                        style="width: 100%; height: 40px;">
                                    Login
                                </button>
                                
                            </div>
                            <div class="form-group text-left" style="color:red;">

                                <div *ngIf="(getUsername.invalid && getUsername.touched) && getUsername.dirty">
                                    <div *ngIf="getUsername.errors?.required" class="help-block">Email Is Required</div>
                                    <div *ngIf="getUsername.errors?.pattern" class="help-block">Email Address Not Valid</div>
                                </div>

                                <div *ngIf="(getPassword.invalid && getPassword.touched) && getPassword.dirty">
                                    <div *ngIf="getPassword.errors?.required" class="help-block">Password Is Required</div>
                                </div>

                                <div *ngIf="isLoginFail" class="help-block">Your Email or Password Is Invalid</div>
                            </div>
                        </form>
                        <!--<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <input placeholder="Email"
                                       type="email"
                                       class="form-control"
                                       name="username"
                                       [(ngModel)]="model.username"
                                       [ngModelOptions]="{updateOn: 'blur'}"
                                       #username="ngModel"
                                       required
                                       email
                                       [ngClass]="{'is-invalid': (username.touched || f.submitted) && !username.valid }"
                                       (ngModelChange)="inputChanged($event)"
                                       style="width: 100%; height: 40px; padding-left:10px;" />
                            </div>

                            <div class="form-group my-3" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <input placeholder="Password"
                                       type="password"
                                       class="form-control"
                                       name="password"
                                       [(ngModel)]="model.password"
                                       #password="ngModel"
                                       required
                                       (ngModelChange)="inputChanged($event)"
                                       [ngClass]="{'is-invalid': (password.touched || f.submitted) && !password.valid }"
                                       style="width: 100%; height: 40px; padding-left:10px;" />
                            </div>
                            <div class="form-group my-3">
                                <button class="btn btn-primary"
                                        style="width: 100%; height: 40px;">
                                    Login
                                </button>
                            </div>
                            <div class="form-group text-left" style="color:red;">
                                <div *ngIf="((username.touched || f.submitted) && username.errors?.required)" class="help-block">Email Is Required</div>
                                <div *ngIf="((username.touched || f.submitted) && username.errors?.email)" class="help-block">Email Address Not Valid</div>
                                <div *ngIf="((password.touched || f.submitted) && !password.valid)" class="help-block">Password Is Required</div>
                                <div *ngIf="f.submitted && isLoginFail" class="help-block">Your Email or Password Is Invalid</div>
                            </div>
                        </form>-->
                        
                        <div class="my-2">
                            <a class="" href="#">Forgot Password?</a>
                        </div>
                        <div class="mb-2">
                            <a class="" href="#">Register</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
