<div align="center">
    <div class="col-md-6 col-md-offset-3">
        <h2>Reset Password</h2>
        <div *ngIf="isError">
            <br/>
            <h4>Token is invalid or link may have been expired. </h4>
            <h4>Please  <a class="" [routerLink]="['/login']">click here</a>to login </h4>
        </div>
        <div *ngIf="!isError">

            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                    <label for="newPassword" class="pull-left">New Password</label>
                    <input type="password" class="form-control" name="newPassword" minlength="8" [(ngModel)]="model.newPassword" #newPassword="ngModel" required />
                    <div *ngIf="f.submitted && !newPassword.valid && !newPassword.touched" class="help-block">Password is required</div>
                    <div *ngIf="f.submitted && !newPassword.valid && newPassword.touched" class="help-block">Password length must be greater than 7</div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmNewPassword.valid }">
                    <label for="confirmNewPassword" class="pull-left">Confirm New Password</label>
                    <input type="password" class="form-control" name="confirmNewPassword" minlength="8" [(ngModel)]="model.confirmNewPassword" #confirmNewPassword="ngModel" required />
                    <div *ngIf="f.submitted && !confirmNewPassword.valid && !confirmNewPassword.touched" class="help-block">Password is required</div>
                    <div *ngIf="f.submitted && !confirmNewPassword.valid && confirmNewPassword.touched" class="help-block">Password length must be greater than 7</div>
                    <div *ngIf="f.submitted && (model.confirmNewPassword !=  model.newPassword)" class="help-block">New password and confirm password do not match</div>
                </div>
                
                <div _ngcontent-c6="" class="form-group row">
                    <div class="col-md-6"><button _ngcontent-c6="" class="btn btn-primary ">Change Password</button> </div>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <div class=""><button _ngcontent-c6="" class="btn btn-primary" (click)="reset(f)">Reset</button></div>
                </div>

                <!--<div class="form-group">
                    <button [disabled]="loading" class="col-md-4 btn btn-primary ">Change Password</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button class="col-md-4 btn btn-primary pull-right" (click)="reset()">Reset</button>
                </div>-->
            </form>
        </div>
    </div>
</div>

<div>

</div>
