<h2>Register page</h2>
<div class="register-container">
    <form [formGroup]="form" (ngSubmit)="OnSubmit(form,$event)" fxFlex fxLayout="row" fxLayout.xs="column">
        <mat-card fxFlex="1 1 auto">
            <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">

                <mat-tab label="User Information">
                    <div class="form-content">

                        <!-- TODO: add red * to compulsory fields -->
                        <mat-form-field>
                            <input matInput placeholder="First Name" formControlName="firstName">
                            <mat-error>{{form.controls['firstName'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Last Name" formControlName="lastName">
                            <mat-error>{{form.controls['lastName'].errors | regerrtranslate}}</mat-error>

                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error>{{form.controls['email'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <div class="phone-number">
                            <mat-form-field class="prefix">
                                <input appreance="fill" matInput placeholder="Prefix" formControlName="phoneNumberPrefix">
                                <mat-hint>3 digits</mat-hint>
                                <mat-error>{{form.controls['phoneNumberPrefix'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="number">
                                <input appreance="fill" matInput placeholder="Phone Number" formControlName="phoneNumberBody">
                                <mat-hint>7 digits</mat-hint>
                                <mat-error>{{form.controls['phoneNumberBody'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div formGroupName="passwords" class="form-content">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" formControlName="password">
                                <mat-error>{{form.get('passwords').controls['password'].errors | regerrtranslate}}</mat-error>

                            </mat-form-field>

                            <mat-form-field>
                                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmedPassword">
                                <mat-error>{{form.get('passwords').controls['confirmedPassword'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="full-width" fxLayout="row">
                        <button mat-raised-button type="button" (click)="nextTab()">Next Step</button>
                        <span class="fill-remaining-space"></span>
                    </div>
                </mat-tab>



                <mat-tab label="Organisation Information" class="form-content">
                    <div class="form-content">
                        <mat-form-field>
                            <input matInput placeholder="Organisation Name" formControlName="orgName">
                            <mat-error>{{form.controls['orgName'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Organisation Short Code" formControlName="orgCode">
                            <mat-error>{{form.controls['orgCode'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Street address line 1" formControlName="streetAddrL1">
                            <mat-error>{{form.controls['streetAddrL1'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Street address line 2" formControlName="streetAddrL2">
                            <mat-error>{{form.controls['streetAddrL2'].errors | regerrtranslate}}</mat-error>

                        </mat-form-field>

                        <div class="select-country">
                            <mat-form-field>
                                <mat-select placeholder="Select a country" [(ngModel)]="selectedCountry" formControlName="country" [disabled]="true">
                                    <mat-option value="New Zealand" selected>New Zealand</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="City / Town" formControlName="city">
                                <mat-error>{{form.controls['city'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="phone-number">
                            <mat-form-field class="prefix">
                                <input appreance="fill" matInput placeholder="Prefix" formControlName="orgPhoneNumberPrefix">
                                <mat-hint>3 digits</mat-hint>
                                <mat-error>{{form.controls['orgPhoneNumberPrefix'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class="number">
                                <input appreance="fill" matInput placeholder="Phone Number" formControlName="orgPhoneNumberBody">
                                <mat-hint>7 digits</mat-hint>
                                <mat-error>{{form.controls['orgPhoneNumberBody'].errors | regerrtranslate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field>
                            <input matInput placeholder="Charities Number" formControlName="charitiesNumber">
                            <mat-error>{{form.controls['charitiesNumber'].errors | regerrtranslate}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <div class="upload">
                                <img alt="Preview logo" class="preview-logo" [src]="logoImgUrl" style="width:60px;height:60px;">
                                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                                <input matInput style="display: none;" formControlName="logoUrl">
                            </div>
                        </mat-form-field>

                        <div class="full-width" fxLayout="row">
                            <mat-checkbox (change)="toggleGST($event)">GST Registed?</mat-checkbox>
                            <span *ngIf="!displayInputGST">
                                <mat-form-field>
                                    <input matInput placeholder="Input your GST number: " formControlName="gstNumber">
                                    <mat-error>{{form.controls['gstNumber'].errors | regerrtranslate}}</mat-error>
                                </mat-form-field>
                            </span>
                        </div>


                    </div>
                    <div class="full-width" fxLayout="row">
                        <button mat-raised-button type="button" (click)="prevTab()">Previous Step</button>
                        <span class="fill-remaining-space"></span>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </mat-card>
        <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>
