<h2>Register page</h2>
<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)" fxFlex fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="1 1 auto">
      <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">

        <mat-tab label="User Information">
          <div class="form-content">
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName" required>
              <mat-error>{{form.controls['firstName'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName" required>
              <mat-error>{{form.controls['lastName'].errors | regerrtranslate}}</mat-error>

            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error>{{form.controls['email'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <div class="phone-number">   
              <mat-form-field class="prefix">
                <input appRestrictInput="integer" appreance="fill" matInput 
                  placeholder="Prefix" formControlName="phoneNumberPrefix" required>
                <mat-hint>3 digits</mat-hint>
                <mat-error>{{form.controls['phoneNumberPrefix'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>

              <mat-form-field class="number">
                <input  appRestrictInput="integer" appreance="fill" matInput 
                  placeholder="Phone Number" formControlName="phoneNumberBody" required appPositiveInteger>
                <mat-hint>7 digits</mat-hint>
                <mat-error>{{form.controls['phoneNumberBody'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>
            </div>            

            <ng-container formGroupName="passwords" class="pass">
              <mat-form-field >
                <input type="password" matInput placeholder="Password" formControlName="password"  required>
                <mat-error>{{form.get('passwords').controls['password'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>

              <mat-form-field >
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmedPassword" required>
                <mat-error>{{form.get('passwords').controls['confirmedPassword'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>
            </ng-container>
          </div>
          <div class="full-width" fxLayout="row">
            <button mat-raised-button type="button" (click)="nextTab()">Next Step</button>
            <span class="fill-remaining-space"></span>
          </div>
        </mat-tab>

        <!-- Input organisation information -->
        <mat-tab label="Organisation Information" class="form-content">
          <div class="form-content">
            <mat-form-field>
              <input matInput placeholder="Organisation Name" formControlName="orgName" required>
              <mat-error>{{form.controls['orgName'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Organisation Short Code" formControlName="orgCode" required>
              <mat-error>{{form.controls['orgCode'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Street address line 1" formControlName="streetAddrL1">
              <mat-error>{{form.controls['streetAddrL1'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Street address line 2" formControlName="streetAddrL2">
              <mat-error>{{form.controls['streetAddrL2'].errors | regerrtranslate}}</mat-error>

            </mat-form-field>

            <div class="select-country">
              <mat-form-field>
                <mat-select placeholder="Select a country" [(ngModel)]="selectedCountry" formControlName="country" [disabled]="true" required>                  
                  <mat-option value="New Zealand" selected>New Zealand</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="City / Town" formControlName="city" required>
                <mat-error>{{form.controls['city'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>
            </div>

            <div class="phone-number">              
              <mat-form-field class="prefix">
                <input appRestrictInput="integer"  appreance="fill" matInput 
                  placeholder="Prefix" formControlName="orgPhoneNumberPrefix" required>
                <mat-hint>3 digits</mat-hint>
                <mat-error>{{form.controls['orgPhoneNumberPrefix'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>

              <mat-form-field class="number">
                <input appRestrictInput="integer" appreance="fill" matInput 
                  placeholder="Phone Number" formControlName="orgPhoneNumberBody" required
                  οnpaste="return false" οndragenter="return false"  style="ime-mode:disabled">
                <mat-hint>7 digits</mat-hint>
                <mat-error>{{form.controls['orgPhoneNumberBody'].errors | regerrtranslate}}</mat-error>
              </mat-form-field>
            </div>            

            <mat-form-field>
              <input matInput placeholder="Charities Number" formControlName="charitiesNumber">
              <mat-error>{{form.controls['charitiesNumber'].errors | regerrtranslate}}</mat-error>
            </mat-form-field>

            <mat-form-field> 
              <div class="upload">
                <img alt="Preview logo" class="preview-logo" [src]="logoImgUrl" style="width:60px;height:60px;">
                <app-upload (onUploadFinished)="uploadLogoFinished($event)"></app-upload>                
                <input matInput style="display: none;" formControlName="logoUrl">
              </div>
            </mat-form-field>     
            
            <div formGroupName="inputGST" class="input-gst">
              <span >
                <mat-checkbox (change)="toggleGST($event)" formControlName="haveGST">GST Registed?</mat-checkbox>
              </span>
              <span *ngIf="!displayInputGST">
                <mat-form-field>
                  <input matInput placeholder="Input your GST number: " formControlName="gstNumber">
                  <mat-error>{{form.get('inputGST').controls['gstNumber'].errors | regerrtranslate}}</mat-error>
                </mat-form-field>
              </span>
            </div>

          </div>          
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
