.form-content {
    display: flex;
    flex-direction: column;
}

.form-content > * {
    width : 100%;
}

.upload{
    display:flex;
    flex-direction: row;
}

.preview-logo{
    width: 5rem;
}

.phone-number, .select-country{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0,.87);
}

.phone-number{
    margin-bottom: 10px;
}

.phone-number mat-form-field+mat-form-field{
    margin-left: 10px;
}

.select-country mat-form-field+mat-form-field{
    margin-left: 8px;
}

.phone-number .prefix{
    width: 8rem;
}

.input-gst{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
}