<head>
    <title>Editable Invoice</title>
    <!--ript>
         function MyCtlr($scope) {
             $scope.addItem = function () {
                 $scope.invoice.items.unshift({ amount: 0, description: "" });
             }
             $scope.removeItem = function (item) {
                 $scope.invoice.items.splice($scope.invoice.items.indexOf(item), 1);
             }
         };
         angular.module('jqanim', []).directive('jqAnimate', function () {
                 return function (scope, instanceElement) {

                     setTimeout(function () { instanceElement.show('slow'); }, 0);

                 }
             });
             }
     </script>-->
</head>
<body ng-app="myapp" ng-controller="mycont">
    <h2>Editable Invoice</h2>
    <table class="t1">
        <tr class="tr1">
            <td style="height: 46px;width: 132px">Client Name</td>
            <td style="height: 46px;width: 238px">
                <input type="text" ng-model="client_name" name="{{selectedinvoi.issueeOrganization}}" />

            </td>
            <td style="height: 46px;width: 23px"></td>
            <td style="height: 46px;width: 131px">Invoice Number</td>
            <td style="height: 46px;width: 146px">{{selectedinvoi.invoiceNumber}}</td>
        </tr>
        <tr>
            <td style="width: 132px">Client Contact</td>
            <td style="width: 238px">
                <input type="text" ng-model="client_contact" name="{{selectedinvoi.clientContact}}" />
            </td>
            <td style="width: 23px"></td>
            <td style="width: 131px">Date Created</td>
            <td style="width: 146px">{{selectedinvoi.date | date: 'dd/MM/yyyy'}}</td>

        </tr>
        <tr class="tr2">
            <td style="width: 132px">Status</td>
            <td style="width: 238px">
                <input type="text" ng-model="status" name="{{selectedinvoi.status.status}}" />
            </td>
            <td style="width: 23px"></td>
            <td style="width: 131px">GST Number</td>
            <td style="width: 146px">{{selectedinvoi.gstnumber}}</td>

        </tr>
        <tr>
            <td style="width: 132px">Due Date</td>
            <td style="width: 238px"><input type="text" ng-model="due_date" name="{{selectedinvoi.dueDate | date: 'dd/MM/yyyy'}}" /></td>
            <td style="width: 23px"></td>
            <td style="width: 131px">Charities Number</td>
            <td style="width: 146px">{{selectedinvoi.charitiesNumber}}</td>

        </tr>
        <tr class="tr1" ng-repeat="item in invoice.items" jq:animate="dropdown;250">

            <td colspan="4" style="height: 46px; width:146px">Description</td>

            <td style="height: 46px; width: 146px">Amount</td>
        </tr>
        <tr *ngFor='let invoiceLine of selectedinvoi.invoiceLine'>
            <td text-align="center">
                <button class="btn1" type="button" (click)="deletefield(i)">
                    Delete
                </button>
            </td>
            <td colspan="4"><input type="text" ng-model="description" placeholder="Description"></td>
            <td style="width: 146px"><input type="text" ng-model="amount" placeholder="Amount"></td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="btn2" type="button" (click)="addfield()">
                    Add
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td style="width: 146px"></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:right">Sub Total</td>
            <td style="width:146px">{{selectedinvoi.subTotal}}</td>
        </tr>

        <tr *ngIf="selectedinvoi.gst>0">
            <td colspan="4" style="text-align:right">GST Amount</td>
            <td style="width:146px">{{selectedinvoi.gst}}</td>
        </tr>

        <tr class="tr2">
            <td colspan="4" style="text-align:right">Grand Total</td>
            <td style="width:146px">{{selectedinvoi.grandTotal}}</td>
        </tr>
    </table>

</body>
