
<form class="form1" >
    <a [routerLink]="['/invoice/new']">
        Create New Invoice
    </a>
    <table style="width: 65%" class="invoices" >
       <thead>
            <tr>
                <td style="width:10%" >Invoice Number</td>

                <td style="width: 10%">Date Created</td>
                <td style="width: 10%">Client Name</td>
                <td style="width: 10%">Amount</td>
                <td style="width: 15%">Due Date</td>
                <td style="width: 10%">Status</td>


            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let inv of invo">
                <td *ngIf="inv.status==='Sent'||inv.status==='Paid'" style="width:10%" >
                    <a [routerLink]="['/invoices', inv.invoiceNumber]">{{inv.invoiceNumber}}</a>
                </td>


                <td *ngIf="inv.status==='New'||inv.status==='Draft'" style="width:10%">
                    <a [routerLink]="['/invoices/edit/',inv.invoiceNumber]">{{inv.invoiceNumber}}</a>
                </td>


                <td style="width: 10%">{{inv.dateCreated | date: 'dd/MM/yyyy'}}</td>
                <td style="width: 10%">{{inv.issueeOrganization}} </td>
                <td style="width: 10%">${{inv.grandTotal|number:'.2-2'}}</td>
                <td style="width: 15%">{{inv.dateDue}}</td>
                <td style="width: 10%">{{inv.status}}</td>

                <td *ngIf="inv.status==='Draft'" style="width: 10%">
                    <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                </td>


            </tr>



        </tbody>
    </table>
        <a [routerLink]="['/invoice/new']">
            Create New Invoice
        </a>
        
   
</form>




