#error-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center
    /*background: red;
    border: 10px blue solid;*/
}
#error-heading {
  
    font-size: 100px;
}
header{
    font-size:30px;
}
#error-content {
    padding-top: 20px;
 
}
.underlined{
    text-decoration:underline;
}

.buttons {
    background-color: rgba(21, 126, 251, 1);
    border: 1px solid #157EFB;
    transition-duration: 0.4s;
    border-radius: .3rem;
    color: white;
}

.buttons:hover {
    background-color: #0056b3;}
#link-content{
   text-align:left;
}