
<div id="error-container">
    <section>
        <header>
            <h2 id ="error-heading">404</h2>
            Page Not Found
        </header>

        <div id="error-content">
            <p>Oops, Sorry we couldn't find that page.</p>
            <p><small>Try checking the URL for errors, then hit the refresh button on your browser.</small></p>
            <p class="underlined">OR</p>
            <a href="javascript:history.back()"> <button class="buttons">Go Back</button></a> 
            <!--Go to Previous page-->
            <hr />
            <div id="link-content">
                <p>Quick links:</p>
                <ul>
                    <li><small><a routerLink="/invoices">Home</a></small></li>
                    <li><small><a routerLink="/invoices">Invoices</a></small></li>      
                </ul>
            </div>
        </div>
    </section> 
</div>
