<div class="spinner" *ngIf="loading">
    <span class="oi oi-clock oi-spin" ></span>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <div class="site">
        <app-header [currentUser]='currentUser'
                    (isLogout)='onLogout($event)'
                    (toggleSidebar)="sidenav.toggle()"></app-header>
        
        
        <section class="container-fluid">
            <alert></alert>
            <router-outlet></router-outlet>
        </section>
        
        <footer class="container-fluid">
            <div class="text-center">Copyright 2018 Canterbury New Zealand Business Association</div>
        </footer>
        

    </div>

</mat-sidenav-container>









