@model WebApp.Models.DinkToPDF
@{
    ViewData["Title"] = "Dink to PDF";
}

<style>
    #background {
        position: fixed;
        display: block;
        min-width: 100%;
        opacity: 0.1;
        text-align: center;
        background-color: transparent;
        padding-top: 50%;
    }

    #bg-text {
        color: lightgrey;
        font-size: 350px;
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        opacity: 0.4;
        filter: alpha(opacity=50);
        background-color: transparent;
    }
</style>
<h2> Dink to PDF </h2>
<div id="background">
    <div id="bg-text">
        COPY
    </div>
</div>
<section _ngcontent-c0="" class="container-fluid">
    <alert _ngcontent-c0=""><!--bindings={}--></alert><router-outlet _ngcontent-c0=""></router-outlet><app-invoicedetail _nghost-c5="" class="ng-star-inserted">
        <section _ngcontent-c5="" class="sec">
            <!--bindings={
              "ng-reflect-ng-if": "[object Object]"
            }-->
            <div _ngcontent-c5="" class="cont ng-star-inserted">
                <h2 _ngcontent-c5="">Detail View of 20171113-001 </h2><table _ngcontent-c5="" class="t1">
                    <tbody _ngcontent-c5="">
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" style="height: 46px;width: 132px">Client Name</td><td _ngcontent-c5="" style="height: 46px;width: 238px">Jason Carpets</td><td _ngcontent-c5="" style="height: 46px;width: 23px"></td><td _ngcontent-c5="" style="height: 46px;width: 131px">Invoice Number</td><td _ngcontent-c5="" style="height: 46px;width: 146px">20171113-001</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Client Contact</td><td _ngcontent-c5="" style="width: 238px">297 Moorhouse Ave\r\nSydenham\r\nChristchurch 8011</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Date Created</td><td _ngcontent-c5="" style="width: 146px">13/11/2017</td></tr>
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" style="width: 132px">Status</td><td _ngcontent-c5="" style="width: 238px">Issued</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">GST Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Due Date</td><td _ngcontent-c5="" style="width: 238px">27/11/2017</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Charities Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" colspan="4" style="height: 46px; width:146px">Description</td><td _ngcontent-c5="" style="height: 46px; width: 146px">Amount</td></tr>
                        <!--bindings={
                          "ng-reflect-ng-for-of": "[object Object]"
                        }-->
                        <tr _ngcontent-c5="" class="ng-star-inserted"><td _ngcontent-c5="" colspan="4">Fundraising Dinner</td><td _ngcontent-c5="" style="width: 146px">50</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" colspan="4"></td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" colspan="4" style="text-align:right">Grand Total</td><td _ngcontent-c5="" style="width:146px">50</td></tr>
                    </tbody>
                </table>
            </div>
        </section><button _ngcontent-c5="">Back</button>
    </app-invoicedetail>
</section>
<section _ngcontent-c0="" class="container-fluid">
    <alert _ngcontent-c0=""><!--bindings={}--></alert><router-outlet _ngcontent-c0=""></router-outlet><app-invoicedetail _nghost-c5="" class="ng-star-inserted">
        <section _ngcontent-c5="" class="sec">
            <!--bindings={
              "ng-reflect-ng-if": "[object Object]"
            }-->
            <div _ngcontent-c5="" class="cont ng-star-inserted">
                <h2 _ngcontent-c5="">Detail View of 20171113-001 </h2><table _ngcontent-c5="" class="t1">
                    <tbody _ngcontent-c5="">
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" style="height: 46px;width: 132px">Client Name</td><td _ngcontent-c5="" style="height: 46px;width: 238px">Jason Carpets</td><td _ngcontent-c5="" style="height: 46px;width: 23px"></td><td _ngcontent-c5="" style="height: 46px;width: 131px">Invoice Number</td><td _ngcontent-c5="" style="height: 46px;width: 146px">20171113-001</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Client Contact</td><td _ngcontent-c5="" style="width: 238px">297 Moorhouse Ave\r\nSydenham\r\nChristchurch 8011</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Date Created</td><td _ngcontent-c5="" style="width: 146px">13/11/2017</td></tr>
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" style="width: 132px">Status</td><td _ngcontent-c5="" style="width: 238px">Issued</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">GST Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Due Date</td><td _ngcontent-c5="" style="width: 238px">27/11/2017</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Charities Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" colspan="4" style="height: 46px; width:146px">Description</td><td _ngcontent-c5="" style="height: 46px; width: 146px">Amount</td></tr>
                        <!--bindings={
                          "ng-reflect-ng-for-of": "[object Object]"
                        }-->
                        <tr _ngcontent-c5="" class="ng-star-inserted"><td _ngcontent-c5="" colspan="4">Fundraising Dinner</td><td _ngcontent-c5="" style="width: 146px">50</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" colspan="4"></td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" colspan="4" style="text-align:right">Grand Total</td><td _ngcontent-c5="" style="width:146px">50</td></tr>
                    </tbody>
                </table>
            </div>
        </section><button _ngcontent-c5="">Back</button>
    </app-invoicedetail>
</section>

<section _ngcontent-c0="" class="container-fluid">
    <alert _ngcontent-c0=""><!--bindings={}--></alert><router-outlet _ngcontent-c0=""></router-outlet><app-invoicedetail _nghost-c5="" class="ng-star-inserted">
        <section _ngcontent-c5="" class="sec">
            <!--bindings={
              "ng-reflect-ng-if": "[object Object]"
            }-->
            <div _ngcontent-c5="" class="cont ng-star-inserted">
                <h2 _ngcontent-c5="">Detail View of 20171113-001 </h2><table _ngcontent-c5="" class="t1">
                    <tbody _ngcontent-c5="">
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" style="height: 46px;width: 132px">Client Name</td><td _ngcontent-c5="" style="height: 46px;width: 238px">Jason Carpets</td><td _ngcontent-c5="" style="height: 46px;width: 23px"></td><td _ngcontent-c5="" style="height: 46px;width: 131px">Invoice Number</td><td _ngcontent-c5="" style="height: 46px;width: 146px">20171113-001</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Client Contact</td><td _ngcontent-c5="" style="width: 238px">297 Moorhouse Ave\r\nSydenham\r\nChristchurch 8011</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Date Created</td><td _ngcontent-c5="" style="width: 146px">13/11/2017</td></tr>
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" style="width: 132px">Status</td><td _ngcontent-c5="" style="width: 238px">Issued</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">GST Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Due Date</td><td _ngcontent-c5="" style="width: 238px">27/11/2017</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Charities Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" colspan="4" style="height: 46px; width:146px">Description</td><td _ngcontent-c5="" style="height: 46px; width: 146px">Amount</td></tr>
                        <!--bindings={
                          "ng-reflect-ng-for-of": "[object Object]"
                        }-->
                        <tr _ngcontent-c5="" class="ng-star-inserted"><td _ngcontent-c5="" colspan="4">Fundraising Dinner</td><td _ngcontent-c5="" style="width: 146px">50</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" colspan="4"></td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" colspan="4" style="text-align:right">Grand Total</td><td _ngcontent-c5="" style="width:146px">50</td></tr>
                    </tbody>
                </table>
            </div>
        </section><button _ngcontent-c5="">Back</button>
    </app-invoicedetail>
</section>

<section _ngcontent-c0="" class="container-fluid">
    <alert _ngcontent-c0=""><!--bindings={}--></alert><router-outlet _ngcontent-c0=""></router-outlet><app-invoicedetail _nghost-c5="" class="ng-star-inserted">
        <section _ngcontent-c5="" class="sec">
            <!--bindings={
              "ng-reflect-ng-if": "[object Object]"
            }-->
            <div _ngcontent-c5="" class="cont ng-star-inserted">
                <h2 _ngcontent-c5="">Detail View of 20171113-001 </h2><table _ngcontent-c5="" class="t1">
                    <tbody _ngcontent-c5="">
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" style="height: 46px;width: 132px">Client Name</td><td _ngcontent-c5="" style="height: 46px;width: 238px">Jason Carpets</td><td _ngcontent-c5="" style="height: 46px;width: 23px"></td><td _ngcontent-c5="" style="height: 46px;width: 131px">Invoice Number</td><td _ngcontent-c5="" style="height: 46px;width: 146px">20171113-001</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Client Contact</td><td _ngcontent-c5="" style="width: 238px">297 Moorhouse Ave\r\nSydenham\r\nChristchurch 8011</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Date Created</td><td _ngcontent-c5="" style="width: 146px">13/11/2017</td></tr>
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" style="width: 132px">Status</td><td _ngcontent-c5="" style="width: 238px">Issued</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">GST Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" style="width: 132px">Due Date</td><td _ngcontent-c5="" style="width: 238px">27/11/2017</td><td _ngcontent-c5="" style="width: 23px"></td><td _ngcontent-c5="" style="width: 131px">Charities Number</td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <tr _ngcontent-c5="" class="tr1"><td _ngcontent-c5="" colspan="4" style="height: 46px; width:146px">Description</td><td _ngcontent-c5="" style="height: 46px; width: 146px">Amount</td></tr>
                        <!--bindings={
                          "ng-reflect-ng-for-of": "[object Object]"
                        }-->
                        <tr _ngcontent-c5="" class="ng-star-inserted"><td _ngcontent-c5="" colspan="4">Fundraising Dinner</td><td _ngcontent-c5="" style="width: 146px">50</td></tr>
                        <tr _ngcontent-c5=""><td _ngcontent-c5="" colspan="4"></td><td _ngcontent-c5="" style="width: 146px"></td></tr>
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <!--bindings={
                          "ng-reflect-ng-if": "false"
                        }-->
                        <tr _ngcontent-c5="" class="tr2"><td _ngcontent-c5="" colspan="4" style="text-align:right">Grand Total</td><td _ngcontent-c5="" style="width:146px">50</td></tr>
                    </tbody>
                </table>
            </div>
        </section><button _ngcontent-c5="">Back</button>
    </app-invoicedetail>
</section>

